<xml>
    <Encrypt><![CDATA[{{ encrypted }}]]></Encrypt>
    <MsgSignature><![CDATA[{{ signature }}]]></MsgSignature>
    <TimeStamp>{{ timestamp }}</TimeStamp>
    <Nonce><![CDATA[{{ nonce }}]]></Nonce>
</xml>
