<xml>
   <ToUserName><![CDATA[{{ from_user }}]]></ToUserName>
   <FromUserName><![CDATA[{{ cropid }}]]></FromUserName> 
   <CreateTime>{{ timestamp }}</CreateTime>
   <MsgType><![CDATA[text]]></MsgType>
   <Content><![CDATA[{{ text }}]]></Content>
</xml>
